$header-color: #736e6f;
$news-color: #8b8b8b;
$footer-color: #706f72;

@mixin flexAlign($hor: center, $vert: center) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
}

@mixin circule($wid, $rad) {
    width: $wid;
    height: $wid;
    border-radius: $rad;
}

@keyframes opendown {
    transform: scale(1);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*header*/

.header {
    width: 100%;
    height: 90px;
    @include flexAlign(space-between);
    padding: 0 175px 0 165px;
    box-sizing: border-box;
    background: rgba(white, .9);
    position: absolute;

    @media screen and (min-width: 1280px) {
        padding-left: calc(50% - 475px);
        padding-right: calc(50% - 475px);
    }

    @media screen and (max-width: 980px) {
        padding: 0 15px;
        flex-direction: row-reverse;
        position: fixed;
        z-index: 1;
    }
    


    &__links {
        @include flexAlign();

        @media screen and (max-width: 640px) {
            display: none;
        }


        &-item {
            margin-right: 30px;
            text-transform: capitalize;
            text-decoration: none;
            color: $header-color;
            font-size: 17px;

            @media screen and (max-width: 640px) {
                margin-right: 0;
                margin-bottom: 30px;
                font-size: 30px;
                transform: scale(0);
            }
            
            &:first-child {
                @media screen and (max-width: 640px) {
                    margin-top: 30px;
                }
            }

            &:last-child {
                margin: 0;
                background: #de6d6e;
                border-radius: 2px;
                padding: 6px 13px;
                box-sizing: border-box;
                color: white;
    
            }
    
            &:nth-child(4) {
                margin-right: 40px;

                @media screen and (max-width: 640px) {
                    margin-right: 0;
                }
            }
        }

        &-icon {
            margin-right: 6px;
        }
    }

    #opener {
        display: none;
    }

    #opener:checked + .header__button > .header__button-line {
        background: transparent;
    }

    #opener:checked + .header__button > .header__button-line::after {
        transform: rotate(-45deg);
        top: 0;
    }

    #opener:checked + .header__button > .header__button-line::before {
        transform: rotate(45deg);
        bottom: 0;
    }

    .dropdown {
        width: 100%;
        height: 0;
        background: rgba(white, .9);
        position: fixed;
        z-index: 1;
        top: 90px;
        right: 0;
        transition: 1s ease-out;
        @include flexAlign(flex-start);
        flex-direction: column;

        &__item {
            text-transform: capitalize;
            text-decoration: none;
            color: $header-color;
            margin-bottom: 30px;
            font-size: 30px;
            transform: scale(0);

            &:first-child {
                margin-top: 30px;
            }

            &:last-child {
                margin: 0;
                background: #de6d6e;
                border-radius: 2px;
                padding: 6px 13px;
                box-sizing: border-box;
                color: white;
            }
        }
    }

    #opener:checked ~ .dropdown {
        height: 67vh;
    }

    #opener:checked ~ .dropdown > .dropdown__item {
        transform: scale(1);
        transition: 2s;
    }

	&__button {
        cursor: pointer;
        width: 45px;
        height: 45px;
        border: 2px solid $header-color;
        border-radius: 5px;
        box-sizing: border-box;
        @include flexAlign();
        display: none;

        @media screen and (max-width: 640px) {
            display: flex;
        }

        &-line {
            width: 30px;
            height: 2px;
            background: $header-color;
            position: relative;

            &::after {
                content: "";
                width: 30px;
                height: 2px;
                background: $header-color;
                position: absolute;
                top: 7px;
                left: 0px;
            }

            &::before {
                content: "";
                width: 30px;
                height: 2px;
                background: $header-color;
                position: absolute;
                left: 0px;
                bottom: 7px;
            }
        }


	}
}

/*banner*/

.banner {
    width: 100%;
    height: 590px;
    background: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    text-shadow: 0px 0px 13px black;
    @include flexAlign(flex-end);
    flex-direction: column; 

    @media screen and (max-width: 640px) {
        height: 512px;
    }

    &__circule {
        @include circule(117px, 60px);
        background: rgba(white, .55);
        position: relative;
        margin-bottom: 20px;

        &::after {
            content: "";
            @include circule(92px, 50px);
            background: rgba(white, .55);
            position: absolute;
            left: 60px;
            bottom: 60px;
        }

        &::before {
            content: "";
            @include circule(70px, 50px);
            background: rgba(white, .55);
            position: absolute;
            left: 85px;
            bottom: 24px;
        }
    }

    &__title {
        font-size: 70px;
        text-transform: uppercase;

        @media screen and(max-width: 980px) {
            font-size: 50px;
        }
        
        @media screen and(max-width: 640px) {
            font-size: 34px;
        }
    }
    
    &__text {
        font-size: 25px;
        margin-bottom: 80px;

        @media screen and(max-width: 980px) {
            font-size: 18px;
        }
        
        @media screen and(max-width: 640px) {
            font-size: 14px;
        }
    }
}

.content {
    width: 100%;
    @include flexAlign();
    flex-direction: column;
    padding: 65px 0 50px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 1px 3px 1px #e9e9e9;

    @media screen and (max-width: 640px) {
        padding: 25px 0 15px
    }

    &__title {
        font-size: 35px;
        color: #404040;
        margin-bottom: 17px;

        @media screen and(max-width: 640px) {
            font-size: 25px;
        }
    }

    &__text {
        font-size: 17px;
        color: #636363;
        width: 830px;
        margin-bottom: 85px;

        @media screen and (max-width: 980px) {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
        }

        @media screen and (max-width: 640px) {
            margin-bottom: 40px;
        }
    }
}

.services {
    width: 940px;
    @include flexAlign(space-between);
    flex-wrap: wrap;

    @media screen and (max-width: 980px) {
        width: 100%;
        @include flexAlign(center);
    }

}

.service {
    cursor: pointer;
    @include circule(180px, 100px);
    @include flexAlign(flex-end);
    flex-direction: column;
    color: white;
    position: relative;

    @media screen and (max-width: 980px) {
        margin: 10px;
    }

    &_theme_one {
        background: #4eb9f4;
    }

    &_theme_two {
        background: #6fc125;
    }

    &_theme_three {
        background: #ff5649;
    }

    &_theme_four {
        background: #e48f23;
    }

    &__img {
        margin-bottom: 10px;

        &_location_c {
            padding-left: 15px;
        }
    }

    &__title {
        text-transform: capitalize;
        font-size: 17px;
        margin-bottom: 30px;
    }

    &__text {
        width: 140px;
        height: 90px;
        font-size: 12px;
        text-align: center;
        position: absolute;
        bottom: 45px;
        display: none;
    }

    &:hover {
        .service__img {
            opacity: .3;
        }

        .service__title {
            opacity: .3;
        }

        .service__text {
            display: block;
        }
    }
}

.news {
    width: 100%;
    @include flexAlign();
    flex-direction: column;
    padding-top: 45px;
    box-sizing: border-box;

    &__card {
        margin-bottom: 80px;
    }

    @media screen and (max-width: 480px) {
        margin-bottom: 0;
    }
}
.card {
    width: 950px;
    @include flexAlign(space-between);

    @media screen and (max-width: 980px) {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
        @include flexAlign();
    }

    &__img {
        margin-right: 25px;

        @media screen and (max-width: 480px) {
            margin-bottom: 10px;
            margin-right: 0;
        }

        @media screen and (max-width: 640px) and (min-width: 480px) {
            width: 25%;
        }
    }

    &__content {
        

        &-title {
            font-size: 27px;
            color: #404040;
            margin-bottom: 10px;
        }
    
        &-text {
            font-size: 15px;
            color: $news-color;
            padding-left: 3px;
        }
    }
}

.footer {
    width: 100%;
    @include flexAlign();
    background: #272d27;
    padding: 35px 0;
    color: $footer-color;
    font-size: 15px;
    line-height: 22px;

    &__container {
        width: 965px;
        @include flexAlign(space-between);

        @media screen and (max-width: 992px) {
            width: 100%;
            padding: 0 15px;
        }

        @media screen and (max-width: 768px) {
            @include flexAlign();
        }

        .sub-menu {
            @include flexAlign($vert: flex-start);
            flex-direction: column;

            @media screen and (max-width: 768px) {
                display: none;
            }

            &__title {
                font-size: 21px;
                line-height: 22px;
                color: #aeaeae;
                text-transform: capitalize;
                margin-bottom: 18px;
            }
        
            &__text {
                color: $footer-color;
                text-transform: capitalize;
                padding-left: 3px;
                text-decoration: none;
                margin-bottom: 2px;

                &-item {
                    text-transform: none;
                }
            }
        }
        .sociale {
            height: 140px;

            @media screen and (max-width: 768px) {
                height: 100%;
            }
        
            &__links {
                width: 280px;
                @include flexAlign(space-between);
                margin-bottom: 25px;
                
                &-item {
                    text-decoration: none;
                    width: 53px;
                    height: 53px;
                    border-radius: 50px;
                    @include flexAlign();
                    background: #696b6a;
                }
            }
        
            .copy {
                padding-left: 5px;
            }
        }
    }
}





